
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-skin-default {
  text-align: center;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
/*  width: 440px;
  height: 102px;
  padding: 20px 40px;*/
  height:105px;
  width:250px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
/*  width: 440px;*/
  width:250px;
  margin-top:10px;
}

.jcarousel-skin-default .jcarousel-clip-vertical {
  height: 440px;
}

.jcarousel-skin-default .jcarousel-item {
  padding: 0;
  width: 240px;
  height: 105px;
  overflow: hidden;
/*  border: 1px solid #CCC;*/
  list-style: none;
  background: #fff none;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 4px;
}

.jcarousel-skin-default .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
/*  width: 32px;
  height: 32px;
  background-image: url(arrows.png);*/
  width:12px;
  height:17px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
/*  top: 55px;*/
/*  left: 10px;*/
  left:173px;
  top:-30px;
  background:url(arrow-2.png);
  opacity:0.6;
/*  background-position: 0 0;*/
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
/*  background-position: -32px 0;*/
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
/*  background-position: -64px 0;*/
}
.jcarousel-skin-default .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-default .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-default .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  /*background-position: -96px 0;*/
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
/*  top: 55px;
  right: 10px;*/
  left:200px;
  top:-30px;
  background:url(arrow-1.png);
  opacity:0.6;
/*  background-position: 0 -32px;*/
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
/*  background-position: -32px -32px;*/
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
/*  background-position: -64px -32px;*/
}
.jcarousel-skin-default .jcarousel-next-disabled-horizontal,
.jcarousel-skin-default .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  /*background-position: -96px -32px;*/
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-default .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
.jcarousel-skin-default .jcarousel-prev-disabled-vertical,
.jcarousel-skin-default .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-default .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

.jcarousel-skin-default .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
.jcarousel-skin-default .jcarousel-next-disabled-vertical,
.jcarousel-skin-default .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-default .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}
.jcarousel-skin-default .views-field-field-event-image-fid{
  margin:0px 10px;float:left;display:inline-block;
}
.jcarousel-skin-default .views-field-title {
  width:100px;float:left;display:inline-block;text-align:left;
}
