
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 85%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
/*  font-family: arial,museo-sans,sans-serif;
  color:#000;*/
}
.font-family-myriad, .font-family-myriad .form-text {
/*  font-family: arial,museo-sans,sans-serif;*/
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
color:#417BB6;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

p {
margin:0;  

}
/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Todo: Add float here to put logo and site name side by side, also add margins when
  needed */
#logo {
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Pre Header Regions */
.top-strip {
	height:25px;
	width:100%;
	background:#605e63;
}
.top-strip-wrapper {
 margin-left:auto;
margin-right:auto;
width:960px;
}
#top-sub-strip {
	height:3px;
	width:100%;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	border-bottom:1px solid #ccc;
}
#login-block {
float:right;
margin-right:20px;
display:inline-block;
margin-top:5px;
}
#login-block a {
color:#fff;
font-size:11px;
font-weight:bold;
}

/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
	height:85px;
/*	margin-top:2px;*/
	border-bottom:1px solid #e2e2e2;
/*	background:#605E63;*/
	width:100%;
	margin-top:2px;
	background: #f1f1f1; /* for non-css3 browsers */
	/*background: #f1f1f1;*/ /* for non-css3 browsers */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1');  for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1)); for webkit browsers */
	/*background: -moz-linear-gradient(top,  #ffffff,#f7f7f7 5%,  #f1f1f1);  for firefox 3.6+ */ 

}

.header-group {
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}
#global-logo {
	/*background: url("../images/logo.png") no-repeat;*/
	/*height:30px;
	width:204px;
	padding-top:12px;*/
	height:77px;
	width:536px;
	padding-top:2px;
        padding-bottom:7px;

}

/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
#preface-top-wrapper{
	background:#78ae09;
	height:24px;
        overflow:visible;
}
#preface-top{
	height:24px;
	overflow:visible;
}
.global-menu {
	list-style:none;
	text-align:center;
	background:#78ae09;
	width:100%;
	margin:0px;
}
.global-menu li{
	text-align:center;
	display:inline-block;
	padding:6px 30px 6px 47px;
	font-weight:bold;
	font-size:14px;
	vertical-align:center;
}
.global-menu a:link{
	color:#fff;
	vertical-align:center;
	padding-top:5px;
	text-decoration:none;
}
.global-menu a hover{
	color:#fff;
	text-decoration:none;
}
.primary-menu {
 	margin-bottom:0px;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
 color:white;
 font-size:14px;
 font-weight:bold;
 padding:0.45em 1em;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus {
 color:white;
 font-size:14px;
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li {
  background-color: #517701;
}

.primary-menu-inner ul.sf-menu li li.last {

}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
}

/* Style overiding of Superfish javascript in the local css files */

/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
  margin-top:30px;
}
#main{
/*overflow:visible;*/
}
#main-group{

/*margin:14px 0px 5px 5px;*/
}
/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}


/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {

}

.content-inner {
}
#content-inner-inner {
/*border-right:1px solid #ededed;
border-left:1px solid #ededed;*/
}

.content-bottom {
}
#content-group{
overflow:visible;
}
#content-group-inner{
-moz-box-shadow: 0px 0px 6px #c4c4c4;-webkit-box-shadow: 0px 0px 6px #c4c4c4;box-shadow: 0px 0px 6px #c4c4c4;
margin:5px 3px 15px 3px;overflow:visible;
min-height:500px;
}
#content-region {
width:75%;
display:inline-block;
}
#content-right{
width:25%;display:inline-block;
}
#content-region-full{

}
/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
}

.footer {
}

.footer-inner {
}

.footer-message-wrapper {
	height:25px;
	width:100%;
	background:#605e63;
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
}

#bottom-sub-strip {
	height:3px;
	width:100%;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	border-top:1px solid #ccc;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
margin-top:10px;
color:#777777;
font-size:20px;
/*display:inline-block;
float:left;*/
}
h1.create-title {
margin-top:10px;
color:#333;
font-size:14px;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
  background:#fbfbfb;
  padding:0 2px;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
padding-left:20px;
}
h2.pane-title {
  padding-top:25px;display:inline-block;
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: #78ae09;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
-moz-box-shadow: 0px 2px 3px #c4c4c4;-webkit-box-shadow: 0px 2px 3px #c4c4c4;box-shadow: 0px 2px 3px #c4c4c4;
  width:100%;
  height:23px;
}

#content-tabs-inner {
  margin:0px;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
/*  border-bottom: 1px solid #000;*/
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0px 0px 0px 0px;
  width:100%;
  border:none;
}

#content-tabs ul.secondary {
  border-bottom: none;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline-block;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0 20px;;
  white-space:nowrap;
  height:23px;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #fff;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 3px 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li.active {
  background:#577f04;
}
#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
/*  border-bottom: 4px solid #000;*/
  color: #fff;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
/*  border-bottom: 4px solid #555;*/
  color: #fff;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
/*  border-bottom: 4px solid #777;*/
  color: #fefefe;
  padding-bottom: 2px;
  font-weight:bold;
}
#content-links  {
float: right;
margin-right: 10px;
display: inline-block;
width: auto;
margin-top: 12px;
}
#content-links ul.primary, #content-links ul.secondary {
clear: both;
float: left;
margin: 0;
padding: 0px 0px 0px 0px;
width: 100%;
border: none;
}
#content-links ul.primary li, #content-links ul.secondary li {
border-style: none;
display: inline-block;
float: left;
list-style: none;
margin: 0 2px;
padding: 0 4px;
white-space: nowrap;
height: 18px;/*background:#efefef;*/
}
#content-links ul.primary li.active a {
background:none;
border: none;
}
#content-links ul.primary li a {
background:none;
border: none;
color:#ccc;
}
#content-links ul.primary li:hover {
background-color:#ecf4f8;
color:#000;
}
#content-links ul.primary a:hover {
  color:#000;
}
/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item textarea {
  border:1px solid #c4c4c4;
}
/* Start of Custom Form Styling */
.form-item input {
}
input.form-autocomplete:hover, input.form-text:hover, textarea.form-textarea:hover, select.form-select:hover, input.form-autocomplete:focus, input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus {
color: #333;
border-color: #ACE;
}
input.fluid {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: 100%;
box-sizing: border-box;
}
div.node .field .field-label-inline, div.node .field .field-label-inline-first, .node-links ul.links:hover, .comment-links ul.links:hover, .view .grouped-admin:hover, .multistep li.active-step, .form-text:focus, .form-textarea:focus, .form-select:focus, .prose a:hover {
background-color: #ECF4F8;
}
input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select {
padding: 2px;
border-width: 1px;
border-style: solid;
border-color: #E8E8E8 #F0F0F0 #F8F8F8;
background: white;
color: #666;
max-width: 100%;
}
.form-item select {
  background:#e1e1e1;
  border:none;
}
select#edit-operation {
  background:url('/sites/all/themes/qollabsocial/images/select-bg.png') no-repeat;
  width:135px;
  height:23px;
  padding-left:10px;
}
.form-item label {
    display: inline-block;
    font-weight: normal;
}
#form-title {
  height:40px;
  width:550px;
}
#form-title input {
  width:540px;
  height:25px;
}
#form-body {
  height:auto;
  width:540px;
}
#form-body .resizable-textarea {
  width:100%;
}
#form-body .tips{
  display:none;
}
fieldset.group-images {
  border:none;
}
#edit-field-teaser-image-0-upload-wrapper label {
  vertical-align:top;
  margin-top:15px;
}
.filefield-element .widget-preview {
max-width: 60%;
}
#form-body fieldset {
  border:none;
}
fieldset.group-event-details legend {
  font-weight:bold;
}
#edit-field-event-image-0-upload-wrapper .description {
  display:none;
}
.filefield-element {
width: auto;
display: inline-block;
}
#edit-field-event-image-0-upload-wrapper label {
  margin-top:12px;
  vertical-align:top;
}
#edit-field-event-image-0-upload-wrapper .filefield-element .widget-edit {
float: left;
max-width: 100%;
}
#edit-field-date-0-value-wrapper label, #edit-field-date-0-value2-wrapper label {
  float:left;
  width:75px;
  text-align:right;
  margin-right:25px;
}
#edit-field-date-0-value2-wrapper label {
  width:66px;
  margin-right:36px;
}
#edit-field-cost-0-value-wrapper .description {
  display:none;
}
#edit-field-event-location-0-value-wrapper label, #edit-field-cost-0-value-wrapper label {
  width: 80px;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
}
#edit-field-event-location-0-value-wrapper input.form-text, #edit-field-cost-0-value-wrapper input.form-text{
  width:60%;
}
#body-format .form-item {
  display:inline-block;
  margin-left:10px;
}
#body-format fieldset {
  margin:0px;
  padding:0px;
}
#body-video-format legend {
  display:none;
}
#body-video-format .form-item {
  margin:0px;
  width:540px;
}
#form-video-body .description {
  display:block;
}
#edit-taxonomy-47-wrapper {
  width:150px;
}
#edit-taxonomy-47-wrapper label{
  font-weight:normal;
  font-size:12px;
  margin-bottom:3px;
}
#edit-taxonomy-47-wrapper select {
background-color: #ECF4F8;
}
#settings-form {
  margin-left:60px;
  margin-top:40px;
}
#settings-form label {
  font-weight:bold;
  font-size:12px;
  text-align:right;
  width:120px;
}
#settings-form input{
  display:inline-block;
  margin-left:30px;
  width:358px;
  border:2px solid #f4f7f3;
  box-shadow:inset 0 0 3px #ddd;
  -moz-box-shadow:inset 0 0 3px #ddd;
}
#settings-form #form-title {
  width:600px;
}
#settings-form .resizable-textarea {
  width:66%;
  display:inline-block;
  margin-left:30px;
  border:2px solid #f4f7f3;
  box-shadow:inset 0 0 3px #ddd;
  -moz-box-shadow:inset 0 0 3px #ddd;

}
#settings-form #form-body{
  height:auto;
}
#publish-post input, #views-bulk-operations-submit input {
  font-size:15px;
  text-transform:capitalize;
  border:none;
  padding:5px 10px;
  margin-left:25px;
}
#views-bulk-operations-submit input {
  font-size:10px;
  padding:3.5px 10px;
}
#publish-blog {
  text-align:center;
  margin:50px 0;
}

/* Tagging Widget */
#tagging-widget-container .description{
  display:none;
}
#tagging-widget-container legend, legend.collapse-processed, legend.collapse-processed a:link, legend.collapse-processed a:visited {
  display:none;
}
#tagging-widget-container fieldset {
  border:none;
}
.tagging-curtags-wrapper {
    background-color: #fff;
}
#tagging-widget-container .tagging-widget-input {
    display: inline-block;
    width: 144px;
}
#tagging-widget-container .field-suffix {
    display: inline-block;
}
/* End of Custom Form Styling */
/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
/*  border-top: 1px solid #ccc;*/
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
/*  background-color: #eee;*/
  background-color:#fff;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
.box {
  padding:20px;
}
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}


/* Ubercart - catalog
/-------------------------------------------------------------- */

/* Horizontal list of subcategories in catalog */
ul.uc-categories {
}

.uc-categories li a {
  font-weight: bold;
  padding: 0 5px 0 3px;
}

/* Product and category names */
.catalog-grid-title a:link,
.catalog-grid-title a:visited,
.category a:link,
.category a:visited {
}

.catalog-grid-title a:hover,
.catalog-grid-title a:focus,
.category a:hover,
.category a:focus {
}

/* Sell price in Ubercart catalog */
.category-grid-products .catalog-grid-sell-price {
}

/* Ubercart - add to cart buttons
/-------------------------------------------------------------- */

/* Add to cart buttons */
input.node-add-to-cart,
input.list-add-to-cart {
}

/* Hover and focus styles, with .hover class added for IE6 support */
input.node-add-to-cart:hover,
input.node-add-to-cart.hover,
input.node-add-to-cart:focus,
input.list-add-to-cart:hover,
input.list-add-to-cart.hover,
input.list-add-to-cart:focus {
}

/* Ubercart - product nodes
/-------------------------------------------------------------- */

#field-group {
}

#price-group {
}

/* Product images */
.product-image a img {
}

.product-image a:hover img,
.product-image a:focus img {
}

/* Display price on full product nodes */
.full-node .product-group .uc-price-display {
}

/* Product attributes on full nodes */
.full-node .product-group .attributes {
}

/* Ubercart - general / checkout
/-------------------------------------------------------------- */

/* For optional "Powered by Ubercart" footer message */
#store-footer {
}

#store-footer a:link,
#store-footer a:visited {
}

/* View cart/Checkout links in Ubercart cart block */
.cart-block-summary-links ul.links li a {
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
}

/* Key checkout process buttons: Checkout, Continue, and Submit Order */
#uc-cart-view-form #edit-checkout,
#uc-cart-checkout-form #edit-continue,
#uc-cart-checkout-review-form #edit-submit {
}

/* Table on final order review page */
.order-review-table {
}

#cart-form-products table th {
  border-bottom: 3px solid #dec2c3;
}


/* Skinr
/-------------------------------------------------------------- */

/* Test Skinr class Todo: add more skinr styles in future*/
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}

/* Views CSS */
.view-activity-user-block .views-field-field-first-name-value, .views-field-field-last-name-value {
 display:inline;
 font-weight:normal;
 font-size:12px;
}
.view-activity-user-block .views-field-field-location-value{
  font-weight:normal;
  font-size:12px;
}
#block-views-activity_user_block-block_1 {
  padding-bottom:10px;
  border-bottom:2px solid #777;
}
#block-views-profile_user_block-block_1 {
  padding-bottom:10px;
  border-bottom:2px solid #777;
  margin-top:10px;
}
.view-profile-user-block .views-field-field-first-name-value, .views-field-field-last-name-value {
 display:inline;
 font-weight:normal;
 font-size:12px;
}
.view-profile-user-block .views-field-field-location-value{
  font-weight:normal;
  font-size:12px;
}
.view-profile-user-block .picture img {
  background:#fcfcfc;
  padding:2px;
  border:2px solid #eff1ee;
  -moz-border-radius:3px 3px 3px 3px;
}
.view-activity-user-block .picture img {
  background:#fcfcfc;
  padding:2px;
  border:2px solid #eff1ee;
  -moz-border-radius:3px 3px 3px 3px;
}
/* Start of User Albums CSS */
#view-id-user_albums-page_1 .picture{
position:absolute;
top:225px;
height:30px;
width:30px;
border:1px solid #787880;
}
#view-id-user_albums-page_1 h2.title{
position:absolute;
top:195px;
font-weight:normal;
font-size:16px;
width:221px;
text-align:center;
}
#view-id-user_albums-page_1 a{
color:#58585d;
}
#view-id-user_albums-page_1 .terms{
position:absolute;
top:175px;
font-size:12px;
width:221px;
text-align:center;
text-transform:capitalize;
}
#view-id-user_albums-page_1 .terms a{
color:#7e9500;
}
#view-id-user_albums-page_1 .meta{
position: absolute;
top: 235px;
margin-left: 70px;
width: 150px;
text-align: right;
font-size: 10px;
color: #6F6F75;
}
#view-id-user_albums-page_1 .comment_add{
display:none;
}
#view-id-user_albums-page_1 .flag-share{
display:none;
}
#view-id-user_albums-page_1 .comment_comments{
display:none;
}
#view-id-user_albums-page_1 .views-field-field-picture-fid{
background: url("../images/album-bg.png") no-repeat;
width:182px;
height:148px;
margin:18px 0px 0px 22px;
}
#view-id-user_albums-page_1 .views-field-field-picture-fid img{
padding:9px 0px 0px 7px;
}
#view-id-user_albums-page_1 .views-row{
height:216px;
width:221px;
border:1px solid #ccc;
 background-image: -moz-linear-gradient(center top, rgb(255,255,255)90%, rgb(240,240,240)100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.90, rgb(255,255,255)), color-stop(1.0, rgb(240,240,240)));
}
#view-id-user_albums-page_1 .view-footer{
margin-top:50px;
}
#view-id-user_albums-page_1 .row-1{
height:300px;
}
#view-id-user_albums-page_1 .row-2{
height:300px;
}

/* Profile User Albums */

.view-id-user_albums h2 {
  font-size:12px;
  font-weight:bold;
  color:#333;
  padding-top:5px;
}
.view-id-user_albums .terms, .meta, .links{
  display:none;
}
.view-id-user_albums .picture {
  display:none;
}
.view-id-user_albums .views-field-field-picture-fid img {
/*  border:1px solid #c4c4c4;*/
  -moz-box-shadow: 1px 1px 2px #111;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top:2px;
  margin-left:10px;
}

/* End of User Albums CSS */

/* Start of Videos CSS */
.view-id-user_related_videos {
  margin-bottom:20px;
}
.view-id-user_related_videos .view-content {
  margin-top:15px;
}
.view-id-user_related_videos .views-field-field-description-value {
  color:#333;
  display:inline-block;
  width:100px;
  vertical-align:top;
  margin:2px 20px 0px 10px;
}
.view-id-user_related_videos .views-field-title {
  font-weight:bold;
  font-size:12px;
  color:#333;
  padding-top:5px;
  text-align:left;
  width:220px;
  display:block;
}
.view-id-user_related_videos .views-field-field-video-embed-embed {
  width:120px;
  display:inline-block;
}
/* Start of Manage Blogs CSS */
#view-id-manage_user_blog-page_1 tr.odd, tr.odd td, tr.even, tr.even td {
  border:none;
  padding:6.5px;
}
#view-id-manage_user_blog-page_1 tbody {
  border:none;
}
#view-id-manage_user_blog-page_1 thead, thead th {
  border:none;
  padding-left:6.5px;
}
#view-id-manage_user_blog-page_1 {
/*  font-weight:bold;*/
}
#view-id-manage_user_blog-page_1 fieldset {
  border:none;
}
#view-id-manage_user_blog-page_1 legend {
  display:none;
}
/* Q&A Section CSS */
.question-summary {
    width:100%;
}

.drop-shadow-dl {
    text-shadow: 1px 1px 1px rgba(112,112,112,.4);
}
.question-summary .summary {
    float:none;
    margin-left:150px;
    width:auto;
    text-align:left;
}
.view-as-tags .views-row {
   margin-left:1.5em;
   margin-top:.25em;
   margin-bottom:.5em;
}
.prompt {
    background-color:#ddd;
    padding:10px 20px;
}
.prompt {
    background-image: -moz-linear-gradient(top, #DDD, #EEE);
    background-image: -webkit-gradient(linear, top, bottom, from(#DDD), to(#EEE));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDDDD,endColorstr=#CCCCCCCC);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDDDD,endColorstr=#CCCCCCCC)";
                                                                                       
}

.prompt {
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  filter:progid:DXImageTransform.Microsoft.glow(Strength=5, Color='gray');
  -ms-filter:"progid:DXImageTransform.Microsoft.glow(Strength=3, Color='gray')";
}


.prompt label {
    display:block;
}

.prompt input {
    width:85%;
    display:block;
    float:left;
    margin:0;
    padding:0;
}
.prompt button {
    display:block;
    float:right;
    margin-left:2%;
    margin-top:.5em;
    padding:5px 10px;
}

.prompt .char_count {
    float:right;
}
.prompt .standing_by {
    float:left;
}
.prompt .message {
    float:left;
}
.prompt textarea {
    display:block;
    width:100%;
    float:left;
    height: 2.5em;
    clear:both;
}
.flag-favorite {
    display:inline-block;
}

.flag-favorite a.unflag-action,.flag-favorite a.flag-action:hover {
    color: green;
}

.flag-favorite a.unflag-action:hover,.flag-favorite a.flag-action {
    color: #000;
}


.block-similarterms .item-list ul li {
    display:block;
    float:left;
    clear:both;
    margin-bottom:1em;
}

.summary .tags {
    width:100%;
    float:left;
    margin-right:-200px;
    
}

.summary .tags {
    width:100%;
    float:left;
    margin-right:-200px;
    
}

.summary .started {
    width:190px;
    float:right;
    text-align:right;
}
/* User Card */

.usercard {
background: whiteSmoke;
padding: 8px;
    float:right;
font-size:11px;
margin-top:20px;
}
.usercard a{
color:#417bb6;

}
.usercard .left{
    width:32px;
    float:left;
    text-align:center;
}

.usercard .right{
    width:96px;
    float:left;
}

.usercard .right .name, .usercard .right .role {
    padding-left:4px;
}

.usercard .right .points{
    text-align:right;
    float:right;
    padding-right:4px;
}
/* Voting */
.vote-up-down-widget {
    border:none;
    clear:none;
    float:none;
    margin:0;
    padding:0;
    text-align:center;
    width:100%;
}
.vote_up,.vote_down { margin:0 auto;} 
.vote_up a,.vote_down a {
    display:block;
    margin:0 auto;
    background-image:url(../images/arrows.gif);
    text-indent:-9999em;
    height:16px;
    width:16px;
}



.vote-up-act a, .vote-up-inact a:hover{
    background-position: 0px 16px;
}

.vote-up-inact a, .vote-up-act a:hover{
    background-position: 0px 32px;
}

.vote-down-inact a, .vote-down-act a:hover{
    
    background-position: 0px 0px;
}

.vote-down-act a, .vote-down-inact a:hover{
    
    background-position: 0px 48px;
}
.info-block {
    display:block;
    float:left;
    width:38px;
    text-align:center;
    height:38px;
    padding:5px;
    margin:0 3px 0 0;
}

/* Comments/Answers */
.comments {
    width:100%;
    clear:both;
}
.all-comments {
    float:right;
    width:90%;
    padding:2px;
}
.comment {
    border-bottom:1px solid #E5E5E5;
    background-color:whiteSmoke;
    width:96%;
} 
.comment .by {
    text-align:right;
}
.comment p {
    padding:2px;
}
.inline-comments-form{
    text-align:right;
}       
.inline-comments-form label, .inline-comments-form input {
    display:inline;
    clear:none;
}    
.inline-comments-form .form-text {
    width:80%;
    font-size:90%;
}
.inline-comments-form .progress-disabled{
    float:none;
}

.inline-comments-form .ahah-progress .throbber {
  display:inline-block;
  float:none;
}


.inline-comments-form .ahah-progress {
   display:inline-block;
   float:none;
}
.gray_to_white {
    background:#fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));
}
/* Status Update Module CSS */
/* The default width is 100% but sidebar-right overlaps a little in that case. */
textarea.fbss-comments-textarea,
textarea.facebook-status-text {
  line-height: 1em;
  width: 97%;
}

div.fbsmp-link-title {
  font-size: 1.1em;
  font-weight: bold;
}

form.fbss-comments-form .form-submit {
  float: right;
  margin: 0 0.25em;
}

.facebook-status-back {
  float: right;
  margin: 0.5em;
}

a .facebook-status-time,
a:link .facebook-status-time,
a:hover .facebook-status-time,
a:focus .facebook-status-time,
a:active .facebook-status-time {
  color: #666666;
}

form .fbsmp-icon-list input.form-submit,
form .fbsmp-icon-list input.form-submit:hover,
form .fbsmp-icon-list input.form-submit.hover,
form .fbsmp-icon-list input.form-submit:focus {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: 0;
}

form .fbsmp-icon-list .fbsmp-link-icon input.form-submit {
  background: url('../images/link.png') no-repeat;
}
form .fbsmp-icon-list .fbsmp-link-icon input.form-submit:hover,
form .fbsmp-icon-list .fbsmp-link-icon input.form-submit.hover,
form .fbsmp-icon-list .fbsmp-link-icon input.form-submit:focus {
  background: url('../images/link-hover.png') no-repeat;
}

form .fbsmp-icon-list .fbsmp-photo-icon input.form-submit {
  background: url('../images/photo.png') no-repeat;
}
form .fbsmp-icon-list .fbsmp-photo-icon input.form-submit:hover,
form .fbsmp-icon-list .fbsmp-photo-icon input.form-submit.hover,
form .fbsmp-icon-list .fbsmp-photo-icon input.form-submit:focus {
  background: url('../images/photo-hover.png') no-repeat;
}

form .fbsmp-inner-expanded div input.fbsmp-cancel-button {
  background: url('../images/close.png') no-repeat;
  border: medium none;
}
form .fbsmp-inner-expanded div input.fbsmp-cancel-button:hover,
form .fbsmp-inner-expanded div input.fbsmp-cancel-button.hover,
form .fbsmp-inner-expanded div input.fbsmp-cancel-button:focus {
  background: url('../images/close-hover.png') no-repeat;
  border: medium none;
}

form input.form-submit, form input.form-submit:hover, form input.form-submit.hover, form input.form-submit:focus {
/*border: 1px solid #DDD;*/
border:none;
background: #78AE09;
font-size: 11px;
color: white;
text-transform: uppercase;
}

/* Activity Stream / Dashboard */
#block-block-3 {

}
#block-block-3 .inner {
  margin:0px;
  padding:0px;
}
#block-block-3 img {
border:4px solid #eff8ff;
}
.left-profile-link {
 display:block;
 font-size:12px;
 color:#fff;
 /*background:#ea48ab;*/
 padding:4px;
 margin-top:10px;
/* -moz-box-shadow: 1px 1px 1px #c4c4c4;-webkit-box-shadow: 0px 0px 3px #c4c4c4;box-shadow: 0px 0px 3px #c4c4c4;*/
/* border:1px solid #cfcfcf;*/
 border-bottom:none;
 margin:2px;
}
.left-profile-link:hover{
 -moz-box-shadow: 1px 0px 3px #c4c4c4;-webkit-box-shadow: 0px 0px 3px #c4c4c4;box-shadow: 0px 0px 3px #c4c4c4;
}
.left-profile-link a,a:link,a:visited,a:hover{
 color:#333;
 text-decoration:none;
}
/*Statusbox */
.facebook-status-chars{
font-size:10px;
margin-right:17px;
}
.facebook-status-update {
padding-left:20px;
}
.facebook-status-text {
height:40px;
border:1px solid #ededed;
}
.facebook-status-faded{
padding:10px 0px 0px 10px;
}

ul.menu li {
margin: 0;
padding: 0px 20px 0px 20px;
line-height:100%;
}
.global-menu a:visited {
color: white;
vertical-align: center;
padding-top: 5px;
text-decoration: none;
}
.imagecache-Featured{
	display:block;
}
.view-fbss-ur-stream table tr td {
 padding:16px 21px;
}
.view-fbss-ur-stream .picture {
 height:56px;
 width:56px;
 display:inline-block;
}
.view-fbss-ur-stream .picture img{
 height:56px;
 width:56px;
}
.facebook-status-sender {
 vertical-align:top;
 font-weight:bold;
 font-size:12px;
 text-transform:capitalize;
 margin-left:5px;
}
.facebook-status-content {
 vertical-align:top;
 margin-left:5px;
}
.facebook-status-details {
 padding-top:5px;
}
/* WYSWYG Styling */
.cke_skin_kama .cke_wrapper {
  background-color:#fff;
}
/* Manage Page CSS */
#features-left {
	float:left;
	display:inline-block;
	width:auto;
	height:auto;
	margin-top:35px;
}

#features-left td{
	padding-left:10px;
}
#features-left tr{
	height:80px;
}
#features-left tbody{
	border:none;
}
#features-right tbody{
	border:none;
}
#features-right{
	margin-left:140px;
	margin-top:35px;
	display:inline-block;
	float:left;
	width:auto;
	height:auto;
}
#features-right tr{
	height:80px;
}
#features-right td{
	padding-left:10px;
}

/* Blog Teaser CSS */
#blog-teaser-container {
/*  width:365px;*/
  width:230px;
  display:inline-block;
  height:auto;
  float:left;
  margin-left:15px;
  margin-top:20px;
}
#blog-teaser-container-image {
/*  width:340px;*/
  width:220px;
  height:160px;
/*  height:210px;*/
  overflow:hidden;
  margin:0;
  padding:0;
}

#blog-post-info {
background-color: #191919;
color: #5C5C5C;
/*padding: 10px 5px 7px 10px;*/
padding-top:10px;
font-size: 12px;
/*width: 340px;*/
width:220px;
overflow:hidden;
/*height:30px;*/
height:20px;
font-size:10px;
}
#blog-post-info ul.links li {
 margin:0px;
 padding:5px 6px;
}
#blog-post-info a {
color:#c0dff5;
}
.imagecache-blog-teaser a{
 /* width:340px;
  height:194px;*/
  width:220px;
  height:160px;
}
.feed-icon {
display:none;
}
/* New User Albums */
.album-row { margin:10px 10px 10px 20px; position:relative;}
.askew .item-album {
-moz-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-webkit-transform: rotate(-2deg);
transform: rotate(-2deg);
}
.item-album {
background-color: white;
-moz-box-shadow: 0 1px 3px #AAA;
-ms-box-shadow: 0 1px 3px #AAA;
-o-box-shadow: 0 1px 3px #AAA;
-webkit-box-shadow: 0 1px 3px #AAA;
box-shadow: 0 1px 3px #AAA;
cursor: pointer;
display: inline-block;
margin: 10px;
padding: 10px 10px 40px 10px;
position: absolute;
-moz-transition: all 406ms ease-out;
-ms-transition: all 406ms ease-out;
-o-transition: all 406ms ease-out;
-webkit-transition: all 406ms ease-out;
transition: all 406ms ease-out;
z-index: 1;
}
.item-album:hover {
-moz-box-shadow: 0 1px 8px #999;
-ms-box-shadow: 0 1px 8px #999;
-o-box-shadow: 0 1px 8px #999;
-webkit-box-shadow: 0 1px 8px #999;
box-shadow: 0 1px 8px #999;
-moz-transform: scale(1.2) !important;
-ms-transform: scale(1.2) !important;
-o-transform: scale(1.2) !important;
-webkit-transform: scale(1.2) !important;
transform: scale(1.2) !important;
z-index: 9;
}
.askew .item-album:nth-child(even) {
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
-o-transform: rotate(2deg);
-webkit-transform: rotate(2deg);
transform: rotate(2deg);
}
.item-album .summary {
background-color: white;
border: 1px solid #EEE;
bottom: 40px;
color: rgba(51, 51, 51, 1);
left: 10px;
line-height: 1.4;
max-height: 70px;
opacity: 0;
overflow: hidden;
padding: 5px;
position: absolute;
right: 10px;
text-align: justify;
text-overflow: ellipsis;
-moz-transition: opacity .5s linear;
-ms-transition: opacity .5s linear;
-o-transition: opacity .5s linear;
-webkit-transition: opacity .5s linear;
transition: opacity .5s linear;
visibility: hidden;
}
.item-album:hover .summary {
opacity: 0.7;
pointer-events: none;
visibility: visible;
}
.item-album .title {
bottom: 0px;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 30px;
left: 10px;
overflow: hidden;
padding: 0px 10px;
position: absolute;
right: 10px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 14px;
}
.askew .item-album:nth-child(3n) {
-moz-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
-webkit-transform: rotate(-1deg);
transform: rotate(-1deg);
margin-top: -1px;
}
.askew .item-album:nth-child(5n) {
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
-o-transform: rotate(2deg);
-webkit-transform: rotate(2deg);
transform: rotate(2deg);
margin-right: 1px;
}
.imagecache-node-gallery-thumbnail {
background-repeat: no-repeat;
background-position: center;
border: 1px solid #EEE;
display: block;
}
.album-row a, .album-row a:hover, .album-row a:visited {
outline: none;
text-decoration: none;
}
.thumbs a, .thumbs a:focus {
color: rgba(0, 158, 184, 1);
outline: none;
text-decoration: none;
-moz-transition: color .3s;
-ms-transition: color .3s;
-o-transition: color .3s;
-webkit-transition: color .3s;
transition: color .3s;
}
#view-id-node_gallery_gallery_summaries-page_2 {
  min-height:600px;
}
#edit-objects-selector{ display:none;}
#aggregate-events .panel-col-first{ width:74%;border-right:1px solid #ccc;margin-top:25px;}
#aggregate-events .panel-col-last{width:25%;margin-top:25px;}
#aggregate-events .panel-col{width:0%;margin-top:25px;border-right:1px solid #ccc;}
#aggregate-events table tbody{border:none;}
.view-events-aggre tr{margin-top:10px; display:table-row;}
.view-events-aggre tr.even {border-bottom:1px solid #ccc;}
.view-events-aggre .views-field-field-event-image-fid img{/*-webkit-box-shadow:0px 1px 1px #aaa;border:1px solid #ccc;*/-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4);}
td.views-field-field-event-image-fid{vertical-align:top;}
#age-title{font-size:13px;font-weight:bold;}
#age-attending{display:inline-block;margin-top:5px;}
#age-user{display:inline-block;float:right;margin-right:10px; vertical-align:top;margin-top:5px;}
#age-user a{vertical-align:top;}
#age-user .picture{display:inline-block;}
#age-tabs{float: left;-moz-box-shadow: 0 1px 2px #AAA;-webkit-box-shadow: 0 1px 2px #AAA;box-shadow: 0 1px 2px #AAA;margin: 6px 8px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;margin-left:45px;position: absolute;top: 49px;left:55px;}
#age-tabs a:first-child {-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#age-tabs a {font-size: 10px;color: #333;margin: 0;line-height: 22px;padding: 0 40px 1px 40px;background-color: white;border-right: 1px solid #F7F7F7;text-transform: uppercase;border-top:1px solid #f7f7f7;}
#age-tabs a {float: left;text-decoration: none;display: block;}
#age-tabs a:last-child {-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-right: none;}
#age-view-title{display:inline-block;font-size:14px;font-weight:bold;color:#333;padding-left:10px;float:left;}
.view-events-aggre .view-content {margin-top:65px;}
#age-publish-event{background: #78AE09;font-size: 13px;font-weight:bold;padding: 5px 10px;margin: 10px 25px 10px 50px;color:#fff;width:110px;margin-top:10px;-webkit-border-radius:5px;-moz-border-radius:5px;position:absolute;right:0px;z-index:9;}
#age-publish-event:hover{-webkit-box-shadow:inset 0px 0px 2px 1px #785E09;}
#age-publish-event a{color:#fff;}
.pane-sponsored-events h2.pane-title {font-size:13px;color:#333;padding-top:0px;}
.pane-3 h2.pane-title {font-size:13px;color:#333;padding-top:0px;}
.pane-3 .pane-content {margin-left:23px;}
.views-exposed-form .compact-form-label {position: absolute;top: 8px;left: 5px;z-index: 1;font-size: 11px;color: #ccc;font-style:italic;padding-left:2px;padding-top:1px;}
.view-events-aggre .view-header {display:inline-block;}
.view-events-aggre .view-filters {position:absolute;right:10px;}
#edit-field-event-location-value-wrapper input {border:1px solid #ddd;width:75%;}
td.views-field-field-teaser-value{width:100%;}
.accordion-header table td{vertical-align:top;}
td.age-teaser{width:100%;}
td.age-date{border-right:1px solid #ccc;width:33%;text-align:center;}td.age-location{border-right:1px solid #ccc;width:34%;text-align:center;}td.age-cost{border-right:1px solid #ccc;width:33%;text-align:center;}
#views-exposed-form-events-aggre-block-1 .views-exposed-form{position:absolute;right:-319px;top:-19px;width:270px;}
#views-exposed-form-events-aggre-block-1 .views-exposed-form label {font-weight: normal;display:inline-block;color:#aaa;}
#views-exposed-form-events-aggre-block-1 .views-widget{display:inline-block;}
.pane-sponsored-events{margin-top:100px;}
 #edit-field-country-value-wrapper input{width:40%;}
#age-when-title{position: absolute;font-size: 15px;color: #777;top: 58px;left: 6px;}
/* Groups CSS */
#groups-dashboard .panel-col-first {width:75%;}
#groups-dashboard .panel-col-last {width:25%;}
#edit-field-group-location-0-value-wrapper{width:40%;margin-left:10px;}
#edit-field-language-0-value-wrapper{width:40%;margin-left:10px;}
.pane-og-0 h2.block-title{padding-top: 5px;display: block;border-bottom: 1px solid #eee;padding-bottom: 5px;font-size:12.5px;background:#ECF4F8;}
.pane-og-0{/*border:1px solid #ccc;*/color:#417BB6;/*background:#efefef;*/}
.pane-og-0 a{color:#417BB6;}
.pane-og-0 .item-list ul li{background: transparent url(../images/gray-arrow-right.png) no-repeat 0 4px;list-style: none;list-style: none;margin: 0 0 8px 0;padding: 0 0 0 22px;text-indent: 0;}
.pane-og-members-faces{/*border:1px solid #ccc;*/margin-top:10px;color:#417BB6;/*background:#ECF4F8;*/}
.pane-og-members-faces h2.block-title{padding-top: 5px;display: block;border-bottom: 1px solid #eee;padding-bottom: 5px;font-size:12.5px;background:#ECF4F8;}
.pane-quicktabs-groups-feed h2.block-title{padding-top: 5px;display: block;padding-bottom: 5px;font-size:14.5px;margin-top:25px;color:#417BB6;padding-left:10px;}
.view-og-content-tracker tr.even {border-bottom:1px solid #ccc;}
.view-groups-temp-contributors td.views-field-picture{width:35px;}
.pane-groups-temp-contributors h2.block-title{padding-top: 5px;display: block;border-bottom: 1px solid #eee;padding-bottom: 5px;font-size:12.5px;background:#ECF4F8;color:#417BB6;}
.pane-groups-temp-contributors a{color:#417BB6;}
.view-groups-temp-contributors tr.odd td,.view-groups-temp-contributors tr.even td {padding:3px;}
.view-groups-temp-contributors tr.even {border-bottom:1px solid #ccc;}
/*Quick Tabs CSS Used in Groups */
ul.quicktabs_tabs {
border-bottom: 1px solid #CCC;
margin: 0;
}

