/* Top Strip used generally for account settings */
h2{
font-family:"Lucida Grande";
text-align:center;
padding-top:10px;
font-size:18px;
color:#707070;
}
.top-strip {
	height:25px;
	width:100%;
	background:#605e63;
}
#top-sub-strip {
	height:3px;
	width:100%;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	border-bottom:1px solid #ccc;
}
.top-strip-wrapper {
 margin-left:auto;
margin-right:auto;
width:960px;
}
#login-block {
float:right;
margin-right:20px;
display:inline-block;
margin-top:5px;
}
#login-block a {
color:#fff;
font-size:11px;
font-weight:bold;
}
.header-strip {
	height:85px;
	width:100%;
	margin-top:2px;
	border-bottom:1px solid #e2e2e2;
	background: #f1f1f1; /* for non-css3 browsers */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1');  for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1)); for webkit browsers */
	/*background: -moz-linear-gradient(top,  #ffffff,#f7f7f7 5%,  #f1f1f1);  for firefox 3.6+ */ 
}
.header-wrapper {
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}
#logo {
	/*background: url("../images/logo.png") no-repeat;*/
	height:77px;
	width:536px;
	padding-top:2px;
}

.content-wrapper{
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}
#signup {
	background: url("../images/signup-bg.png") no-repeat;
	width:270px;
	height:396px;
	float:right;
	position:absolute;
	margin-top:-30px;
	margin-left:734px;
}

.main-content {
	color:#545454;
	min-height:530px;
}

#intro-text{
	width:684px;
	display:inline-block;
	font-size:14px;
	margin-top:45px;
	font-family: "Lucida Grande", "Helvetica";
	line-height:200%;
}

.features{
	font-family: "Lucida Grande", "Helvetica";
	font-size:14px;
}
#features-left {
	float:left;
	display:inline-block;
	width:auto;
	height:auto;
	margin-top:35px;
}

#features-left td{
	padding-left:10px;
}
#features-left tr{
	height:80px;
}
#features-left tbody{
	border:none;
}
#features-right tbody{
	border:none;
}
#features-right{
	margin-left:140px;
	margin-top:35px;
	display:inline-block;
	float:left;
	width:auto;
	height:auto;
}
#features-right tr{
	height:80px;
}
#features-right td{
	padding-left:10px;
}
/*Sign Up form*/
.errorbox {
	display: none;
	margin: 0;
	font-weight: bold;
	color: #BB252C;
}
#notifiedform{
	width:270px;
	margin-right:auto;
	margin-left:auto;
	margin-top:35px;
}
#user-login{
	width:226px;
	margin-right:10px;
	margin-left:30px;
	margin-top:35px;
}
form input, select{
font-family: "Lucida Sans", "Times New Roman", Arial, Helvetica, sans-serif;
	-moz-box-shadow: 0px 0px 8px #e1e1e1;
	-webkit-box-shadow: 0px 0px 8px #e1e1e1;
	box-shadow: 0px 0px 8px #e1e1e1;
background: #ffffff;
border: 1px solid #d2d2d2;
color: #929292;
font-size: 12px;
margin: 10px 15px 13px 19px;
outline: none;
padding: 6px;
width: 80%;
font-weight:bold;
font-style:italic;
opacity:0.8;
}
form input.submit {
background: #e1e1e1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e1e1e1));/* for webkit browsers */
	background: -moz-linear-gradient(top,  #eeeeee,  #e1e1e1); /* for firefox 3.6+ */ 
		-moz-box-shadow: 0px 0px 8px #e1e1e1;
	-webkit-box-shadow: 0px 0px 8px #e1e1e1;
	box-shadow: 0px 0px 8px #e1e1e1;
border:#e2e2e2 1px solid;
	-moz-box-shadow: 0px 0px 3px #e1e1e1;
	-webkit-box-shadow: 0px 0px 3px #e1e1e1;
	box-shadow: 0px 0px 3px #e1e1e1;
color: #333333;
cursor: pointer;
display: block;
font-size: 12px;
font-weight: bold;
font-style:normal;
height: 33px;
margin-left:82px;
outline: none;
padding: 2px 20px 4px 20px;
width: auto;
}
#social-share{
margin-left: 40px;
font-weight: normal;
font-family: Lucida Grande;
	font-size:14px;
	margin-top:30px;
}
#social-share img{
	padding-right:15px;
}
#watch-video-button{
	width:173px;
	height:35px;
	background:#9fd068;
	display:inline-block;
	float:right;
	margin-right:69px;
	margin-top:300px;
}
.bottom-strip {
	background:#605e63;
	height:20px;
}
