/* $Id: advanced_forum.minimal.style.css,v 1.1.2.2 2010/06/29 21:11:46 eigentor Exp $ */ 

/**
 * Colors used in this style:  
 * #7FBDEF for the header bar on forum and topic listings. 
 * Search and replace to change its color.
 */
 
 /*********** Author Pane **********/
 
 /* $Id: advanced_forum.minimal.style.css,v 1.1.2.2 2010/06/29 21:11:46 eigentor Exp $ */ 

div.author-pane {
  font-size: 0.93em;
  color: #555;
}

span.author-pane-label {
 color: #555555;
 font-weight: bold;
}

.author-pane .picture img {
  padding: 8px;
  border: 1px solid #ddd;
  height: 70px;
}
.forum-post-info {
  border-bottom:2px solid #F7F5EE;
  border-top:1px solid #CCCCCC;
  font-size: 0.93em;
  color: #999;
}
ul.forum-links {
margin: 10px 20px 0 0;
}
ul.forum-links li {
list-style-type: none;
list-style-image: none;
font-size: 0.9em;
}
ul.forum-links li.forum {
   font-size: 1.1em;
   border: 1px solid #ccc;
   padding: 2px 7px;
}
div.forum-post-panel-main,
div.forum-post-links {
  border-left:1px solid #e5e5e5;
}

#forum .description {
  font-size: 0.8em;
  color: #777;
}
#forum .container-description {
  font-weight: normal;
  font-size: 0.8em;
  padding-left: 10px;
  color: #777;
  line-height: 1.2;
}
/*** FORUM LIST ******************************************************/

ul.forum-links {
  display: inline;
}
.forum-primary-links {
  padding-top: 22px;
}
#forum tr.container td {
  background: #7FBDEF;
}

#forum tr.odd,
#forum tr.even
 {
  border: 1px solid #ddd;
}
#forum tr.even {
  background: #eee;
}
#forum tr.odd {
  background: #fff;
}
#forum tr.even.container,
#forum tr.odd.container {
  border: 1px solid #76A3F0;
}
tr.container a,
#content tr.container a
 {
  color: white;
  font-weight: bold;
}

div#forum-statistics {
  border: 1px solid #ddd;
  font-size: 0.8em;
  color: #666;
  line-height: 1.6;
}
.forum-topic-legend,
.forum-folder-legend {
 color: #555;
 font-size: 0.8em;
  -moz-opacity:.75; 
  filter:alpha(opacity=75); 
  opacity:.75;
 
}
.forum-folder-legend dt {
  float: left;
  padding-right: 10px;
}
.forum-folder-legend dd{
  float: left;
  width: 100px;
  line-height: 1.4;
}

div#forum-statistics-active-header,
div#forum-statistics-statistics-header {
  background: #eee;
}
#forum td.last-reply {
  color: #777;
  font-size: 0.8em;
}

/*** TOPIC LIST ******************************************************/

table.forum-topics th,
table.forum-table th {
  background: #7FBDEF;
  padding: 3px 5px 5px 5px;
  font-size: 0.93em;
  border: 1px solid #7FBDEF;
}
table.forum-table td {
  padding: 6px 8px;
}
table.forum-table-topics td {
   padding: 7px 8px;
}
#forum table.forum-table.forums-overview th {
  background: #fff;
  padding:3px 5px 3px 5px;
  font-size: 0.93em;
  color: #494949;
}
#forum table.forum-table.forum-overview th a {
  color: black;
}

table.forum-table th
table.forum-topics td {
  padding: 0.3em;
}
#forum table.forum-topics th,
#forum table.forum-topics th a,
#forum table.forum-table th,
#forum table.forum-table th a,
table.forum-table-topics th,
table.forum-table-topics th a {
  color: white;
}
#forum table.forum-table-topics th.views-field-title {
  text-align: left;
}

table.forum-table-topics td.views-field-title,
table.forum-table-topics td.views-field-last-updated {
  font-size: 0.9em;
}
table.forum-table-topics td.views-field-title {
  line-height: 1.5;
  color: #777;
}
table.forum-table-topics td.views-field-title a {
  font-size: 1.1em;
}

.forum-topic-legend img,
.forum-folder-legend img {
  -moz-opacity:.65; 
  filter:alpha(opacity=65); 
  opacity:.65;
}
.forum-topic-legend dl {
  clear: left;
  display: block;
  padding: 6px 0;
}
.forum-topic-legend dt,
.forum-topic-legend dd {
  float: left;
}
.forum-topic-legend dd {
  padding-left: 10px;
  width: 90px;
  line-height: 1.4;
}
.forum-topic-legend div.legend-group {
  padding-right: 20px;
}
.forum-secondary-links ul li {
  background: none;
}
/*** THREAD ***********************************************************/
div.post-title {
  font-weight: bold;
}
li.topic_reply.first.last,
li.comment_add.first.last
 {
  list-style-type: none;
  list-style-image: none;
  background: none;
  padding-bottom: 5px;
}



