.facebook-status-negative {
  color: #800000;
}

.facebook-status-chars {
  float: right;
}

#facebook-status-edit .facebook-status-chars {
  float: none;
}

.facebook-status-profile-category .profile {
  clear: none;
}

.facebook-status-update {
  margin-bottom: 1em;
}

.facebook-status-update form#facebook-status-box {
  margin-bottom: 0;
}

.facebook-status-edit,
.facebook-status-delete,
.facebook-status-respond,
.facebook-status-repost,
.facebook-status-share,
.facebook-status-details .flag-wrapper {
  font-size: 90%;
  margin-left: 0.5em;
}

.facebook-status-text {
  width: 100%;
}

.facebook-status-faded {
  color: #999999;
}

input.facebook-status-submit {
  float: right;
  margin-top: 0;
  margin-left: 1em;
}

/* Fix weird picture formatting from Garland and other themes. */
.view .picture {
  clear: none;
  display: inline;
  float: none;
  padding-left: 0;
}
