
.quicktabs-hide {
  display: none;
}

ul.quicktabs_tabs {
  margin-top: 0;
}
ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;  
  padding: 2px 20px;
  white-space: nowrap;
  background: #EEE;
  margin: 10px;
  border: 1px solid #CCC;
}
ul.quicktabs_tabs li a:focus {
  outline: none;
}
